
@mixin white-bg {
 background-color: #f4f4f4;
}

@mixin black-bg {
 background-color: #222222;
}

@mixin black-bg_trans {
 background-color: rgb(73, 73, 73);
 opacity: .4;
}

@mixin obj-blue {
 background-color: #007bbb;
}
@mixin obj-blueTrans {
 background-color: rgba(0, 214, 229, 0.486);
}

@mixin font-black {
 color: #222222;
}

@mixin font-white {
 color: #f2f2f2;
}

@mixin font-blue {
 color: #007bbb;
}

@mixin btnhover-before {
 transition: ease-in-out .2s;
 opacity: 1;
}

@mixin btnhover-after {
 opacity: .6;
}