@mixin rowFlex {
 display: flex;
 flex-direction: row;
}

@mixin columnFlex {
 display: flex;
 flex-direction: column;
}

@mixin  inner-width {
 max-width: 92%;
 margin: 0 auto;
}

@mixin objrarius {
 border-radius: .2rem;
}