
.header-wrapper {
 max-width: 100%;
 position: relative;

 .linkicon-box {
  @include columnFlex;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  justify-content: flex-start;
  position: fixed;
  top: 47%;
  right: 1%;
 
  &_item {
   margin: 0 0 .7rem 1rem;
   @include btnhover-before;
   width: 50%;
   height: 50%;
  }
 
  &_item:hover{
   @include btnhover-after;
  }
 }
}

.pcnav-bar {
 position: fixed;
 top: 0;
 left: 0;
 margin: 0 auto;
 max-width: 100%;
 width: 100%;
 @include rowFlex;
 justify-content: space-between;
 @include black-bg;
 @include font-white;

 z-index: 100;
 .pcnav-bar_logobox {
  @include rowFlex;
  justify-content: flex-start;
  padding-left: .8rem;

  &--img {
   margin: auto;
  }
  
  &--text {
   font-weight: 700;
   font-size: 1.8rem;
   margin: auto;
   padding-left: 1rem;
  }
 }


 .navmenu {
  list-style-type: none;
  @include rowFlex;
  font-weight: 700;
  margin:1.5rem .5rem 1.5rem 0;
 
  &-item {
  padding-left: 0;
  margin: 0 2rem;

   &__link {
    margin: auto;
    text-decoration: none;
    @include fz-paragraph(700);
    @include font-white;
    transition: ease-in-out .3s;
    position: relative;
    padding-bottom: .3rem;
   }

   &__link::after {
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 0;
    content: '';
    height: 2px;
    @include white-bg;
    transition: all .3s ease 0s;
    border-radius: .9rem;
   }

   &__link:hover {
    cursor: pointer;
   }
   &__link:hover::after {
    width: 80%;
   }
  }
 }
}
