main {
 margin: 0 auto;
 max-width: 100%;
 }
.fv-wrapper {
 width: 100%;
 margin: 0;
 position: relative;
 
 .catchcopy-box {
   @include inner-width;
  @include columnFlex;
  justify-content: center;
  text-align: left;
  margin: 14rem auto 0rem auto;
  padding: 0;
  
  &_enword {
   @include fz-sectiontitle(700);
   font-size: 2.3rem;
  }
  
  &_jpword {
    margin: 1.3rem 0 2rem 0; 
    @include fz-paragraph(400);
    //  font-size: 1.05rem;
    @include bf-blue;
  font-size: 1.45rem;
  //  @include obj-blue;
   padding: .4rem .6rem;
   @include font-white;
   letter-spacing: .25rem;
   width: 43%;

   br {
     display: none;
   }
  }
 
  &_sentence {
   @include bf;
   padding: 1rem;
   font-weight: 500;
   width: 35%;
   text-align: left;
   margin: 1.5rem  0 2rem 0;
  }
 }
 
 .scrollarrow {
  writing-mode: vertical-lr;
  margin: 0 auto;
  text-align: center;
  border-left: .12rem dotted #494949;
  padding-bottom: 2rem;
}
}

.strongpoints-box {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, auto);
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0;

  &_item {
    width: 90%;
    @include rowFlex;
    justify-content: flex-start;
    @include bf;

    &--inner {
      width: 60%;
      margin: .5rem 0;
      padding-bottom: 1rem;
      @include columnFlex;
      justify-content: left;

      .inner-title{
        margin: .8rem 0;
        text-align: left;
        width: 100%;
        @include bf;
        @include fz-subtitle(700);
        padding: 1rem auto;
        line-height: 3rem;
        font-size: 2.3rem;
      }
      .inner-sentence{
        // margin: 0 auto;
        width: 100%;
        text-align: left;
      }
    }
    &--img {
      margin: auto 0;
    }
    
  }

  &_item:nth-of-type(1) {
   margin-right: 20%;
   margin-left: 2%;
  }
  &_item:nth-of-type(2) {
    justify-content: flex-end;
  }
  
  &_item:nth-of-type(3) {
    margin-right: 50%;
    margin-left: 8%;
    
  }
}

//新着記事css。WP組み込み時に利用。
.newposts-wrapper {
display: flex;
flex-flow: row-reverse;

 .newposts-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 15px;
  width: 50%;
  justify-content: center;
  // margin-left: 50%;
  
  
  &_item{ 
   @include columnFlex;
   justify-content: flex-end;
   background-size: cover;
   height: 190px;
   background-image: url(../../img/icon/samune-dami.png);
   text-decoration: none;
   @include font-black;
   @include objradius;
   @include transitiontemp;

   &--gazo {
    max-width: 100%;
    height: auto;
   }
   
   .newposts-textbox {
   @include white-bg;
   @include obj-blue;
   @include font-black;
   position: relative;
   overflow: hidden;
   opacity: .8;
   @include objradius;
 
    &_title,&_caption {
     text-align: left;
     z-index: 1;
    }
    &_title {
     margin: .5rem .3rem;
    }
    &_caption {
     line-height: 1rem;
     margin: .3rem .3rem;
    }
   }
 
   .newposts-textbox:before {
    filter:blur(2px);
    position: absolute;
    background: inherit;
   }
  }

  &_item:hover {
    @include boxshadowtemp;
  }
 }

 .allview-btn {
  width: 70%;
  margin: auto;
  text-align: center;
  font-weight: 700;
  letter-spacing: .16rem;
  position: relative;
  display: inline-block;
  transition: all 0.3s;
  text-decoration:none;
  cursor: pointer;
  pointer-events: auto;
  
  &_inner {
    font-size: 1.6rem;
    @include font-black;
  }
}

a.btn-svg {
  font-weight: 700;
  line-height: 54px;
  width: 240px;
  height: 54px;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

a.btn-svg svg {
  position: absolute;
  top: 0;
  left: 8%;
  width: 100%;
  height: 100%;
}

a.btn-svg svg rect {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 200px, 16px;
  stroke-dashoffset: 70px;
}

a.btn-svg:hover svg rect {
  stroke-dashoffset: 244px;
  stroke: #007bbb;
}
}

.section-wrapper {
  @include inner-width;
 margin: 0 auto;
 padding: 1rem 0 0 0;

 .sectiontitle {
   @include inner-width;
  margin: 1,5rem 20% 0 0;
  text-align: left;
  padding: 1rem 0 0 2rem;
  @include fz-sectiontitle(700);
  font-size: 2.3rem;

  
  &-jp {
   @include fz-paragraph(700);
  }
 }
}
 
.service-grid {
//  @include inner-width;
 margin: 0 auto;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(280px, auto));
 gap: 15px;

 &_item {
  @include columnFlex;
  // @include objradius;
  @include transitiontemp;
  @include bf;
  width: 100%;
  height: auto;
  padding: auto;

  .service-gird_inner {
   @include rowFlex;
   justify-content: flex-start;
   width: 100%;
   margin: 1rem auto .5rem auto;
   
   img{
    margin: auto .6rem;
   }
 
   .service-grid_inner--name {
    margin: auto .46rem;
    // padding-left: 1rem;
    // line-height: 2rem;
    width: 60%;
    @include fz-subtitle(700);
   }
  }
  &--sentence {
   width: 90%;
   margin: 0 auto .5rem auto;
   text-align: left;
   padding-left: .5rem;
  }
 }

}

.flow-grid {
  @include inner-width;
  margin: 0 auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 15px;
  justify-content: center;

  &_item {
    @include columnFlex;
    @include objradius;
    height: 220px;
    @include bf;
    justify-content: flex-start;

    &--inner {
      @include rowFlex;
      @include obj-blue;
      padding-left: 1rem;
      justify-content: flex-start;

      .inner-title {
        @include font-white;
        padding-left: 1rem;
      }
    }

    &--sentence {
      margin: 0 auto;
      text-align: left;
      width: 80%;
      padding: 1rem;
    }
  }

 }

