body {
 max-width: 100%;
 font-size: 14px;
 margin: 0 auto;
 width: 100%;
 @include white-bg;
 @include fm-jp;
 @include font-black;
 @include fz-paragraph(400);
}

.font-en {
 @include fm-en;
}

.font-jp {
 @include fm-jp;
}