body {
 max-width: 100%;
 font-size: 14px;
 margin: 0 auto;
 width: 100%;
 position: relative;
 @include white-bg;
 @include fm-jp;
 @include font-black;
 @include fz-paragraph(400);
}
.canvasWrapper {
 max-width: 100%;
 height: 100%;

 #myCanvas {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  height: 100vh;
 }
}

.font-en {
 @include fm-en;
}

.font-jp {
 @include fm-jp;
}