// formobilecss

.spnav-wrapper {
 display: none;
}
//menu
@include tab {
 .pcnav-bar {
  display: none;
 }

 .header-wrapper {
    position: relative;

    .spnav-content {
      display: inherit;
      position: fixed;
      top: 0;
      right: -430px;
      width: 100%;
      height: 100vh;
      @include black-bg;
      list-style-type: none;
      z-index: 100;

            &_item {
            padding: 1.5rem;
            text-align: left;
            
               &--inner {
               text-decoration: none;
               padding: 1rem;
               @include font-white;
               font-size: 1.2rem;
               letter-spacing: .12rem;
               }
            }
         }
    
   .spnav-wrapper {
   position: fixed;
   @include black-bg;
   left: 0;
   top: 0;
   @include rowFlex;
   width: 100%;
   justify-content: space-between;
   z-index: 10;

   &_sitelogo {
      padding: 1rem;
   }

   &_linebox {
   cursor: pointer;
   position: relative;
   width: 50px;
   height: 35px;
   margin: .8rem;
      
      &--item {
         position: absolute;
         width: 100%;
         height: 19%;
         border-radius: 2rem;
         right: 0;
         @include white-bg;
      }
      &--item:nth-last-of-type(1) {
         top: 0;
         width: 90%;
      }
      &--item:nth-last-of-type(2) {
         top: 40%;
         width: 60%;
      }
      &--item:nth-last-of-type(3) {
         bottom: 0;
         width: 35%;
      }
   }
     
   }
 }
 
   .strongpoints-box {
      &_item {
         @include columnFlex;
         justify-content: center;

         &--inner {
            width: 100%;
            .inner-title {
               line-height: 2.9rem;
            }
         }

         &--img {
            display: none;
         }
      }
      &_item:nth-of-type(1) {
         background-image:url(../../img/icon/strongicon-1.svg);
         background-repeat: no-repeat;
         background-position: 50% 50%;
      }
      &_item:nth-of-type(2) {
         background-image:url(../../img/icon/strongicon-2.svg);
         background-repeat: no-repeat;
         background-position: 50% 50%;
      }
      &_item:nth-of-type(3) {
         background-image:url(../../img/icon/strongicon-3.svg);
         background-repeat: no-repeat;
         background-position: 50% 50%;
      }
   }

   .flow-grid {
      grid-template-columns: repeat(auto-fit , minmax(280px, auto));
      &_item {
         height: auto;
      }
      
   }

 //footer 
 .footer-wrapper {

    .footerlink-group {
      width: 100%;
      margin: 3.6rem auto 3.2rem auto;
      text-align: center;
      gap: 30px;
      grid-template-columns: 1fr;
    }
 }

   .fv-wrapper{
      position: relative;

      .catchcopy-box {
         margin: 12rem auto 0rem auto;
         width: 98%;

         &_enword {
            line-height: 3rem;
         }
         &_jpword {
            padding: .4rem 1rem;
            width: 46%;
            line-height: 2rem;
            margin-left: 10rem;

            br {
               display: inherit;
            }
         }
         &_sentence {
            padding-left: 0;
            width: 80%;
            margin: 1.5rem 0 3rem 1rem;
         }
      }

      .scrollarrow {
         padding-left: 0;
      }
   }

   .header-wrapper {

      .linkicon-box {
      display: none;
      // @include rowFlex;
      // position: static; 
      // margin: 0 auto 3rem auto;
      // justify-content: center;
   
         &_item {
            margin: 0 .5rem;
         }
      }
   }
   .newposts-wrapper {
      flex-direction: column;
      .newposts-box {
         width: 100%;
         grid-template-columns: repeat(auto-fit, minmax(160px, auto));
         gap: 8px;
         padding-bottom: 2rem;

         &_item {
            height: 140px;
         }
      }
   }
   .service-grid {
      &_item {
         height: 170px;
      }
   }
}

@include sp-landscape {

   .header-wrapper {
      .spnav-content {
         display: none;
       }
   }
   .fv-wrapper{
      .catchcopy-box {
         margin: 12rem auto 0rem auto;
         width: 98%;

         &_enword {
            line-height: 3rem;
         }
         &_jpword {
            padding: .4rem 1rem;
            width: 46%;
            line-height: 2rem;
            margin-left: 10rem;

            br {
               display: inherit;
            }
         }
         &_sentence {
            padding-left: 0;
            width: 80%;
            margin: 1.5rem 0 3rem 1rem;
         }
      }

      .scrollarrow {
         padding-left: 0;
      }
   }
    

   .footer-wrapper {

      .footerlink-group {
         width: 100%;
         justify-content: center;
         grid-template-columns: 1fr;
         gap: 30px;
         margin: 3.6rem auto 3.2rem auto;
         text-align: center;
       }
   }
      &_item {
         height: 170px;
      }
   

   .flow-grid {
      grid-template-columns: repeat(1, 600px);
   }

   .strongpoints-box {
      &_item {
         @include columnFlex;
         justify-content: center;

         &--inner {
            width: 100%;
            .inner-title {
               line-height: 2.5rem;
            }
         }

         &--img {
            display: none;
         }
      }
      &_item:nth-of-type(1) {
         background-image:url(../../img/icon/strongicon-1.svg);
         background-repeat: no-repeat;
         background-position: 50% 50%;
      }
      &_item:nth-of-type(2) {
         background-image:url(../../img/icon/strongicon-2.svg);
         background-repeat: no-repeat;
         background-position: 50% 50%;
      }
      &_item:nth-of-type(3) {
         background-image:url(../../img/icon/strongicon-3.svg);
         background-repeat: no-repeat;
         background-position: 50% 50%;
      }
   }

   .flow-grid {
      grid-template-columns: repeat(auto-fit , minmax(280px, auto));
      &_item {
         height: auto;
      }
   }
   .newposts-wrapper {
      flex-direction: column;
      .newposts-box {
         width: 100%;
         grid-template-columns: repeat(auto-fit, minmax(160px, auto));
         gap: 8px;
         padding-bottom: 2rem;

         &_item {
            height: 140px;
         }
      }
   }
}