.footer-wrapper {
 @include bf;
 @include inner-width;
 
 .sectiontitle-wrapper {
  @include inner-width;
  margin: 1,5rem 20% 1.5rem 0;
  text-align: left;
  padding: 1rem 0 1.5rem 2rem;

  &_h2 {
   @include fz-sectiontitle(700);
   font-size: 2.3rem;
   margin: 0;
 
   &--jp {
    @include fz-paragraph(700);
    margin-bottom: 0;
   }
  }

  &_p {
   margin: 1rem 0 0 0;
  }
}
 

 .contact-copylight {
  text-align:center;
  margin: 0 auto;

  &_credit {
    margin-left: 2rem;
    @include font-white;
    transition: all ease-in-out .2s;
  }
  &_credit:hover {
    color: tomato;
  }

   }
   .footerlink-group {
    width: 65%;
    margin: 3rem auto 5rem auto;
    justify-content: center;
    display: grid;
    grid-template-columns: .5fr .2fr .5fr 1.2fr;
    
    @include btn-svg;

    &_snslink {
      display: inline-block;
  
      &--inner {
        margin: 0 .7rem;
        @include btnhover-before;
      }
      &--inner:hover{
        @include btnhover-after;
      }
    }
    &_formbtn,&_word,&_snslink {
      margin:auto;
    }
  }
 }

 .footer-textgroup {
  @include inner-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 35px;
  justify-content: center;

  &_item {
   @include columnFlex;
   justify-content: flex-start;

   &--title {
    text-align: center;
    @include fz-subtitle(700);
    border: .122rem solid #f9f9f9;
    padding: .5rem 0;
    width: 55%;
    margin: 0 auto;
   }

   &--sentence {
    text-align: left;
   }
  }
 }