.footer-wrapper {
 @include bf;
 @include inner-width;
 
 .sectiontitle-wrapper {
  @include inner-width;
  margin: 1,5rem 20% 1.5rem 0;
  text-align: left;
  padding: 1rem 0 1.5rem 2rem;

  &_h2 {
   @include fz-sectiontitle(700);
   font-size: 2.3rem;
   margin: 0;
 
   &--jp {
    @include fz-paragraph(700);
    margin-bottom: 0;
   }
  }

  &_p {
   margin: 1rem 0 0 0;
  }
 //  &_p::before {
 //   width: 20px;
 //   height: 2px;
 //   background:rgb(255, 255, 255);
 //  }
}
 

 .contact-copylight {
  text-align:center;
  margin: 0 auto;
   }
   .footerlink-group {
    width: 65%;
    margin: 3rem auto 5rem auto;
    justify-content: center;
    display: grid;
    grid-template-columns: .5fr .2fr .5fr 1.2fr;
    
    .allview-btn {
      width: 60%;
      margin: auto;
      text-align: center;
      font-weight: 700;
      letter-spacing: .16rem;
      position: relative;
      display: inline-block;
      transition: all 0.3s;
      text-decoration:none;
      cursor: pointer;
      pointer-events: auto;
      
      &_inner {
        position: absolute;
        left: 13%;
        top: 0;
        font-size: 1.25rem;

        @include font-white;
        z-index: 10;
      }
    }
    
    a.btn-svg {
      font-weight: 700;
      line-height: 54px;
      width: 255px;
      height: 54px;
      padding-right: 2rem;
      cursor: pointer;
      text-decoration: none;
      background-color: transparent;
    }
    
    a.btn-svg svg {
      position: absolute;
      top: 0;
      left: 0%;
      width: 100%;
      height: 100%;
    }
    
    a.btn-svg svg rect {
      -webkit-transition: all 400ms ease;
      transition: all 400ms ease;
      stroke: tomato;
      stroke-width: 2;
      stroke-dasharray: 200px, 16px;
      stroke-dashoffset: 70px;
    }
    
    a.btn-svg:hover svg rect {
      stroke-dashoffset: 244px;
      stroke: #007bbb;
    }
  
    &_snslink {
      display: inline-block;
  
      &--inner {
        margin: 0 .7rem;
        @include btnhover-before;
      }
      &--inner:hover{
      
        @include btnhover-after;
      }
    }
    &_formbtn,&_word,&_snslink {
      margin:auto;
    }
  }
 }

 .footer-textgroup {
  @include inner-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 35px;
  justify-content: center;

  &_item {
   @include columnFlex;
   justify-content: flex-start;

   &--title {
    text-align: center;
    @include fz-subtitle(700);
    border: .122rem solid #f9f9f9;
    padding: .5rem 0;
    width: 55%;
    margin: 0 auto;
   }

   &--sentence {
    text-align: left;
   }
  }
 }