.under-wrapper {
 .sectiontitle-wrapper {
  @include inner-width;
  margin: 1.5rem 20% 1.5rem 0;
  text-align: left;
  padding: 1rem 0 1.5rem 2rem;

  &_h2 {
   @include fz-sectiontitle(700);
   font-size: 2.3rem;
   margin: 0;
 
   &--jp {
    @include fz-paragraph(700);
    margin-bottom: 0;
   }
  }

  &_p {
   margin: 1rem 0 0 0;
  }
}
}