.plan {
  @include inner-width;
  margin-top: 5rem;

  &-grid {
    display: grid;
    grid-template-rows: .5fr, 1fr, 1fr;
    grid-template-columns: 1fr .8fr .8fr;
    grid-template-areas:
    "ttl ttl ttl"
    "upperright upperleft lowerleft"
    "upperright upperleft lowerright";

    justify-content: center;
    gap: 5px;
    margin: 2rem auto;
    width: 100%;
    padding: 1rem 0;
    background: linear-gradient(-135deg, rgb(228, 169, 114, 1), rgb(153, 65, 216, 1));
    @include objradius;
    
    &_item {
      margin: 0 1rem;

      &--ttl {
        @include fz-paragraph(700);
        font-size: 1.1rem;
        text-align: left;
        margin: .5rem 0;
      }

      &--list {
        list-style-type: circle;
        padding-left: 0;

        &__inner {
          text-align: left;
        }
      }

      img  {
        margin: auto 0;
      }

      &--text {
        width: 90%;
        text-align: left;
        margin: auto;
      }
    }

    &_top {
      grid-area: ttl;
      @include rowFlex;
      justify-content: space-between;
      margin-bottom: 1rem;

      .font-en {
        font-size: 2.3rem;
        margin: 1rem 0 .5rem 0;
        width: 75%;
      }
      .font-jp{ 
        @include fz-paragraph(500);
        font-size: 1.1rem;
        padding-left: .5rem;
      } 

      .plan-gird_top--ttl__caption {
        @include fz-paragraph(500);
        font-size: 1rem;
        width: 75%;
      }

      &--img{ 
        @include rowFlex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: auto 0;
        img  {
          margin: auto;
        }
      }
      
    }

    &_upperright {
      grid-area: upperright;
      @include columnFlex;
      justify-content: start;
      border-right: .15rem solid #f2f2f2;
      box-sizing: border-box;

      &--head {
        @include rowFlex;
        justify-content: left;
        margin: 0;
        color: #f2f2f2;
        
        &__item {
          @include fz-paragraph(700);
          font-size: 1rem;
          margin: 0rem 1rem;
          text-align: center;
          line-height: 2.3rem;

          .font-en {
            font-size: 2.5rem;
            font-weight: 700;
            padding-right: .3rem;
          }
        }
      }

    }

    &_upperleft {
      grid-area: upperleft;
    }

    &_lowerright {
      grid-area: lowerright;
    }

    &_lowerleft{
      grid-area: lowerleft;
    }
  }

  &-grid:nth-of-type(3),&-grid:nth-of-type(4) {
    background: linear-gradient(-135deg, rgba(114, 201, 228, 1), rgb(0, 123, 187));
  }

  &-grid:nth-of-type(5) {
    background: linear-gradient(-135deg, rgb(114, 228, 179, 1), rgb(78, 216, 65, 1));
  }
  &-grid:nth-of-type(6) {
    background: linear-gradient(-135deg, rgb(228, 196, 114, 1), rgb(216, 125, 65, 1));
  }

}

//mediaquery
@include tab {
  .plan {
    &-grid {
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: .3fr 1.1fr .5fr .3fr .3fr ;
       grid-template-areas: 
       "ttl"
       "upperright"
       "upperleft"
       "lowerright"
       "lowerleft";

       &_item {
        margin: 0 auto;

          &--ttl {
            text-align: center;
          }

          .font-en {
            font-size: 2.2rem;
            width: 100%;
            margin: 1rem auto 1rem auto;
          }

          .plan-gird_top--ttl__caption {
            width: 100%;
            margin-top: 2rem;
            font-size: .9rem;
         }

          &--list {
            list-style-type: circle;
            margin: 1rem auto;
          }
          
          img {
             display: none;
          }
       }
       
       &_top {
          width: 100%;
          justify-content: center;
          text-align: center;
          margin: 0 auto;
       }

       &_upperright {
         margin: 0 auto;
          width: 100%;
          justify-content: center;

          &--head {
          @include columnFlex;
          justify-content: center;
          margin: 0 auto;
        }
       }

      //  &_upperleft {
        
      //  }
 
      //  &_lowerright {
       
      //  }
 
      //  &_lowerleft{
       
      //  }
    }
 }
}