.section-wrapper {
 @include inner-width;
 @include bf;
margin: 0 auto;
padding: 1rem 0 2.5rem 0;
}

.contact-wrapper {
 margin: 3rem auto 0 auto;
 @include inner-width;

 .formbox {
  @include columnFlex;
  margin: 0 auto 3rem auto;
  justify-content: center;
  @include bf;

  &-item {
   @include columnFlex;
   justify-content: flex-start;
   width: 60%;
   margin: 1rem auto;

   &_label {
    @include fz-subtitle(500);

    &--mast {
     @include font-white;
     @include fz-paragraph(500);
     @include obj-blue;
     padding: .3rem;
     margin: 0 .5rem 0 auto;
     @include objradius;
     
    }
   }

   &_inner {
    @include columnFlex;
    justify-content: start;
    outline: none;

    &--input {
     height: 30px;
     border: none;
     border-bottom: .15rem solid #007bbb;
     @include objradius;
     @include white-bg;
     box-sizing: border-box;
     outline: none;
     transition: ease-in-out all .3s;
    }

    
    
    
    &--textarea {
     border: .17rem solid #007bbb;
     height: 120px;
     @include objradius;
     outline: none;
    }

    &--error {
     color: tomato;
    }
   }

   
  }

  &-btnwrapper {
   width: 50%;
   margin: 0 auto;
   text-align: center;

   &_inner {
    width: 50%;
    cursor: pointer;
    background: tomato;
    @include font-white;
    @include fz-subtitle(500);
    letter-spacing: .4rem;

    padding: 1rem 1.5rem;
    font-family: 'Noto Sans JP',sans-serif;
    @include objradius;
    margin: 1rem auto;
    border: .17rem solid rgba(255, 99, 71, 0);
    transition: ease-in-out all .3s;
   }

   &_inner:hover {
    @include obj-blue;
   }
  }

 }

 //ths.html
 .ths-wrapper {
  margin: 10rem auto 0 auto;
  width: 40%;
  height: 30%;
  background-color: tomato;
  @include columnFlex;
  justify-content: center;
  text-align: center;

  &_complete {
   margin: 1.5rem auto;
   @include fz-sectiontitle(500);
   border-bottom: .5rem solid #007bbb;
   box-sizing: border-box;
   padding-bottom: 1rem;
   width: 80%;

  }

  &_checkicon {
   
  }

  &_text {
   width: 80%;
   text-align: center;
   margin: 1rem auto;
  }
 }
}