// formobilecss

.spnav-wrapper {
 display: none;
}
@include tab {

   

 .pcnav-bar {
  display: none;
 }

 .section-wrapper {
   .sectiontitle-wrapper {
      padding: 1rem 0 1.5rem 0;
   }
 }

 .header-wrapper {
    position: relative;

    .spnav-content {
      display: inherit;
      position: fixed;
      top: 0;
      margin: 0;
      right: -430px;
      width: 100%;
      height: 100vh;
      @include black-bg;
      list-style-type: none;
      z-index: 100;

            &_item {
            padding: 1.5rem;
            text-align: left;
            
               &--inner {
               text-decoration: none;
               padding: 1rem;
               @include font-white;
               font-size: 1.2rem;
               letter-spacing: .12rem;
               }
            }
         }
    
   .spnav-wrapper {
   position: fixed;
   @include obj-blue;
   left: 0;
   top: 0;
   @include rowFlex;
   max-width: 100%;
   width: 100%;
   justify-content: space-between;
   z-index: 10;

   &_sitelogo {
      padding: 1rem;
   }

   &_linebox {
   cursor: pointer;
   position: relative;
   width: 50px;
   height: 35px;
   margin: .8rem;
      
      &--item {
         position: absolute;
         width: 100%;
         height: 19%;
         border-radius: 2rem;
         right: 0;
         @include white-bg;
      }
      &--item:nth-last-of-type(1) {
         top: 0;
         width: 90%;
      }
      &--item:nth-last-of-type(2) {
         top: 40%;
         width: 60%;
      }
      &--item:nth-last-of-type(3) {
         bottom: 0;
         width: 35%;
      }
   }
     
   }
 }

   .mission {
      &-box {
         &_item {
          margin-left: 1rem;
          margin-right: 1rem;

         &--ttl {
            text-align: center;
            width: 100%;
            margin: 1rem auto 3rem auto;
            font-size: 1.2rem;

            br {
               display: inherit;
               }
            }
      
            &--text {
            margin: 0 auto;
            font-weight: 400;
            font-size: .95rem;
            width: 100%;
            line-height: 1.7rem;
            padding-left: 0;
            }
         }
      }
   }

   .plans {

      &-box {
         grid-template-columns: repeat(1 , 1fr);

         &_btn {
            margin: 2rem auto;
            padding-left: 2rem;
         }
      }
   }
 

   .flow-grid {
      grid-template-columns: repeat(auto-fit , minmax(280px, auto));
      &_item {
         height: auto;
      }
      
   }

 //footer 
 .footer-wrapper {

    .footerlink-group {
      width: 100%;
      margin: 3.6rem auto 3.2rem auto;
      text-align: center;
      gap: 30px;
      grid-template-columns: 1fr;
    
    .allview-btn {
      width: 100%;
      
      &_inner {
        left: 15%;
        font-size: 1.25rem;
        @include font-white;
        z-index: 10;
      }
    }

    a.btn-svg {
      padding-right: 0;
     }
   }
 }

   .fv-wrapper{
      position: relative;

      .catchcopy-box {
         margin: 40% auto 4rem auto;
         @include inner-width;

         &_enword {
            line-height: 3rem;
         }
         &_jpword {
            width: 75%;
            text-align: left;
            padding: 0;

            br {
               display: inherit;
            }
         }
         &_sentence {
            width: 100%;
            margin: 2.5rem auto 0 auto;  
            padding: 0;
         }
      }

      .scrollarrow-wrapper {
         padding-bottom: 3rem;
         &_inner {
            padding-left: 29%;
         }
      }
   }

   .header-wrapper {

      .linkicon-box {
      display: none;
         &_item {
            margin: 0 .5rem;
         }
      }
   }
   .service-grid {
      &_item {
         height: 170px;
      }
   }

   .newposts-wrapper {
      
         &_pre {
         margin: auto;
         padding: 5rem 6rem;
         background-color: tomato;
         }
      }
   .flow-grid {
      &_item {
         &--inner {
            padding: .4rem;

            .inner-title {
               margin: auto auto auto 0;
            }
         }
      }
   }

   //contact.html
   .contact-wrapper {

      .formbox {

         &-item {
            width: 90%;
         }

         &-btnwrapper {
            width: 90%;

            &_inner {
               width: 100%;
            }
         }
      }
   }
}

 //ihone6,7,se
@media (orientation: portrait) and (max-height: 667px){

   .fv-wrapper{
      position: relative;

      .catchcopy-box {
         margin: 28% auto 2rem auto;
         @include inner-width;

         &_enword {
            line-height: 3rem;
         }
         &_jpword {
            width: 75%;
            text-align: left;
            padding: 0;

            br {
               display: inherit;
            }
         }
         &_sentence {
            width: 100%;
            margin: 2.5rem auto 0 auto;  
            padding: 0;
         }
      }

      .scrollarrow-wrapper {
         padding-bottom: 3rem;
         &_inner {
            padding-left: 29%;
         }
      }
   }
   }

@include sp-landscape {
   .pcnav-bar {
      display: none;
     }
     
     .header-wrapper {
        
        .spnav-content {
         display: inherit;
         position: fixed;
         top: 0;
         margin: 0;
         right: -900px;
         width: 100%;
         height: 100vh;
         @include black-bg;
         list-style-type: none;
         z-index: 100;
   
               &_item {
               padding: 1.5rem;
               text-align: left;
               
                  &--inner {
                  text-decoration: none;
                  padding: 1rem;
                  @include font-white;
                  font-size: 1.2rem;
                  letter-spacing: .12rem;
                  }
               }
            }
       .spnav-wrapper {
         position: fixed;
         @include obj-blue;
         left: 0;
         top: 0;
         @include rowFlex;
         max-width: 100%;
         width: 100%;
         justify-content: space-between;
         z-index: 10;
      
         &_sitelogo {
            padding: 1rem;
         }
      
         &_linebox {
         cursor: pointer;
         position: relative;
         width: 50px;
         height: 35px;
         margin: .8rem;
            
            &--item {
               position: absolute;
               width: 100%;
               height: 19%;
               border-radius: 2rem;
               right: 0;
               @include white-bg;
            }
            &--item:nth-last-of-type(1) {
               top: 0;
               width: 90%;
            }
            &--item:nth-last-of-type(2) {
               top: 40%;
               width: 60%;
            }
            &--item:nth-last-of-type(3) {
               bottom: 0;
               width: 35%;
            }
         }
           
         }
   }

   .fv-wrapper{
      position: relative;

      .catchcopy-box {
         margin: 15% auto 4rem auto;
         @include inner-width;

         &_enword {
            line-height: 3rem;
         }
         &_jpword {
            width: 75%;
            text-align: left;
            padding: 0;

            br {
               display: inherit;
            }
         }
         &_sentence {
            width: 100%;
            margin: 1rem auto 0 auto;  
            padding: 0;
         }
      }

      .scrollarrow-wrapper {
         padding-bottom: 3rem;
         &_inner {
            padding-left: 29%;
         }
      }
   }
   
   .footer-wrapper {

      .footerlink-group {
         width: 100%;
         justify-content: center;
         grid-template-columns: 1fr;
         gap: 30px;
         margin: 3.6rem auto 3.2rem auto;
         text-align: center;
         
         // .allview-btn {
         //    width: 100%;
         //    &_inner {
               
         //       left: 0;
         //     }
         // }

         a.btn-svg svg{
           padding-right: 0;
          }
      }
      &_item {
         height: 170px;
      }
   }
   

   .flow-grid {
      grid-template-columns: repeat(1, 600px);
   }

   
}