 @mixin fz-paragraph($weight) {
  font-size: 14px;
  letter-spacing: .102rem;
  font-weight: $weight;
  line-height: 1.4rem;
 }

 @mixin fz-subtitle($weight) {
  font-size: 1.05rem;
  letter-spacing: .12rem;
  font-weight: $weight;

 }

 @mixin fz-sectiontitle($weight) {
  font-size: 1.5rem;
  letter-spacing: .12rem;
  font-weight: $weight;
 }

 @mixin fm-en {
  font-family: 'Quicksand' ,sans-serif;
 }

 @mixin fm-jp {
  font-family: 'Noto Sans JP',sans-serif;
 }

 @mixin linkbefore {
   transition: all ease-in-out .2s;
   @include font-black;
  }
  @mixin after {
   @include font-white;
  }